<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootdemo.mapper.Usermapper">
    <select id="getInfo" parameterType="String" resultType="com.example.springbootdemo.bean.UserBean">
        SELECT *
        FROM Administrators
        WHERE name = #{name} AND password =#{password}
    </select>
    <select id="getInfoByEmailAndPhone" parameterType="map" resultType="com.example.springbootdemo.bean.UserBean">
        SELECT *
        FROM Customers
        WHERE Email = #{email} AND Phone = #{phone}
    </select>

</mapper>
